# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environments
venv/
.env/
.venv/

# =========================
# Environment Variables
# =========================
.env
.env.*

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# VSCode
# =========================
.vscode/

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs
# =========================
*.log

# =========================
# Build / Distribution
# =========================
build/
dist/
*.egg-info/

# =========================
# Pytest / Coverage
# =========================
.pytest_cache/
.coverage
htmlcov/

# =========================
# Ray
# =========================
ray_results/

# =========================
# Kubeflow Artifacts
# =========================
kubeflow_pipeline/artifacts/

# =========================
# Model Files
# =========================
*.pkl
*.joblib
*.onnx

# =========================
# MinIO Local Storage
# =========================
minio-data/

# =========================
# Database Files
# =========================
*.db
*.sqlite3

# =========================
# Dataset Files
# =========================
data/raw/*.csv
data/raw/*.jsonl
data/processed/*

# Keep folder structure
!data/raw/.gitkeep
!data/processed/.gitkeep

# =========================
# Docker
# =========================
*.tar

# =========================
# Temporary Files
# =========================
tmp/
temp/