# ==================================
# Python
# ==================================
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
.venv/
env/

# ==================================
# IDE
# ==================================
.vscode/
.idea/

# ==================================
# OS Files
# ==================================
.DS_Store
Thumbs.db

# ==================================
# Logs
# ==================================
*.log

# ==================================
# Python Packaging
# ==================================
build/
dist/
*.egg-info/

# ==================================
# Pytest
# ==================================
.pytest_cache/
.coverage

# ==================================
# Jupyter
# ==================================
.ipynb_checkpoints/

# ==================================
# SQLite Databases
# ==================================
*.db
*.sqlite
*.sqlite3

# ==================================
# Dataset Artifacts
# ==================================
data/dataset.csv
data/dataset.jsonl
data/dataset.json

# ==================================
# ML Artifacts
# ==================================
artifacts/
*.pkl
*.joblib

# ==================================
# MinIO Downloads
# ==================================
model.pkl

# ==================================
# Ray
# ==================================
ray_results/

# ==================================
# Kubeflow Outputs
# ==================================
tmp/
outputs/
mlpipeline-ui-metadata.json
mlpipeline-metrics.json

# ==================================
# Environment Variables
# ==================================
.env

# ==================================
# Kubernetes Secrets
# ==================================
*kubeconfig*
secret*.yaml

# ==================================
# Temporary Files
# ==================================
*.tmp
*.temp